<header class="bg-grey">
    <nav class="container mx-auto flex items-center justify-between flex-wrap">
        <div class="flex items-center flex-no-shrink text-black mr-6">
            <a href="/" class="font-semibold text-xl tracking-tight no-underline text-black">Olivia Kokoszynski</a>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-black border-teal-light hover:text-grey-darkest hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div class="w-full h-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="lg:flex-grow">
                <a class="lh-4rem lg:h-16 block mt-4 no-underline lg:inline-block lg:mt-0 text-black hover:text-grey-darkest lg:mr-4" href="/soutien-psychologique/">
                    Soutien psychologique
                </a>
                <div class="lh-4rem lg:h-16 relative group inline-block lg:mr-4">
                    <div class="cursor-pointer">
                        Psychothérapies
                    </div>
                    <div class="bg-grey group-hover:visible lg:absolute lg:invisible lg:pl-2 w-64">
                        <a href="/therapies-comportementales-cognitives/" class="lh-1-5rem block lg:my-2 no-underline text-black hover:text-gray-light">Thérapies Comportementales et Cognitives (TCC)</a>
                        <a href="/emdr/" class="lh-1-5rem block lg:mb-2 no-underline text-black hover:text-gray-light">EMDR</a>
                    </div>
                </div>
                <a class="lh-4rem lg:h-16 block no-underline lg:inline-block lg:mt-0 text-black hover:text-grey-darkest  lg:mr-4" href="/pleine-conscience/">
                    Pleine conscience
                </a>
                <a class="lh-4rem lg:h-16 block no-underline lg:inline-block lg:mt-0 text-black hover:text-grey-darkest  lg:mr-4" href="/honoraires/">
                    Honoraires
                </a>
                <a class="lh-4rem lg:h-16 block no-underline lg:inline-block lg:mt-0 text-black hover:text-grey-darkest" href="/olivia-kokoszynski/">
                    La psy
                </a>
            </div>
            <div>
                <a class="inline-block no-underline px-4 py-2 leading-none border rounded text-black border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0"
                   href="/contact/">Contact</a>
            </div>
        </div>
    </nav>
</header>

